#advanced.tab-content.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :draft
        %small= Spina::Page.human_attribute_name :draft_description
      .horizontal-form-content
        = f.check_box :draft, data: {switch: true}

    - if current_spina_user.admin?
      .horizontal-form-group
        .horizontal-form-label
          Lock
          %small Prevent non-admin users from editing this page
        .horizontal-form-content
          = f.check_box :locked, data: { switch: true }

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :skip_to_first_child
        %small= Spina::Page.human_attribute_name :skip_to_first_child_description
      .horizontal-form-content
        = f.check_box :skip_to_first_child, data: {switch: true}
    .horizontal-form-group
      .horizontal-form-label Custom Slug
      .horinzontal-form-content
        = f.text_field :custom_slug
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :link_url
        %small= Spina::Page.human_attribute_name :link_url_description
      .horizontal-form-content
        = f.text_field :link_url, placeholder: Spina::Page.human_attribute_name(:link_url_placeholder)

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :show_in_menu
        %small= Spina::Page.human_attribute_name :show_in_menu_description
      .horizontal-form-content
        = f.check_box :show_in_menu, data: {switch: true}

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :show_as_new
      .horizontal-form-content
        = f.check_box :show_as_new, data: {switch: true}

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Page.human_attribute_name :menu_title
      .horizontal-form-content
        = f.text_field :menu_title, placeholder: Spina::Page.human_attribute_name(:show_in_menu_placeholder), value: f.object.read_attribute(:menu_title)

    .horizontal-form-group{style: ('display: none' if @page.custom_page?)}
      .horizontal-form-label
        = Spina::Page.human_attribute_name :view_template
      .horizontal-form-content
        .select-dropdown.page-template{data: {page_parts: @page.view_template_config(current_theme)[:page_parts]}}
          - options = options_for_select(current_theme.view_templates.map { |template| [template[:title], template[:name], {'data-page-parts' => template[:page_parts]}] }, @page.view_template)
          = f.select :view_template, options

    .horizontal-form-group{style: ('display: none' if @page.custom_page?)}
      .horizontal-form-label
        = Spina::Page.human_attribute_name :ancestry
      .horizontal-form-content
        .select-dropdown.ancestry
          = f.select :parent_id, page_ancestry_options(f.object), include_blank: Spina::Page.human_attribute_name(:no_parent)
