window.Spina = {}

Trix.config.blockAttributes = $.extend Trix.config.blockAttributes, {
  heading2:
    tagName: "h2"
    terminal: true
    breakOnReturn: true
    group: false
  heading3:
    tagName: "h3"
    terminal: true
    breakOnReturn: true
    group: false
  heading4:
    tagName: "h4"
    terminal: true
    breakOnReturn: true
    group: false
  heading5:
    tagName: "h5"
    terminal: true
    breakOnReturn: true
    group: false
  heading6:
    tagName: "h6"
    terminal: true
    breakOnReturn: true
    group: false
}

class Spina.TrixAttachment
  @photoSelect: (e) ->
    editor_id = $(this).closest('trix-toolbar').data('trix-editor-id')
    $.get("<%= Spina::Engine.routes.url_helpers.trix_select_admin_photos_path('') %>/#{editor_id}")

  @photoInsert: (e, url) ->
    length = this.editor.getDocument().toString().length
    this.editor.setSelectedRange(length - 1)
    this.editor.insertHTML "<img src='#{ url }' />"

class Spina.TrixAttachmentSlider

  @photoSelectFirst: (e) ->
    $(this).addClass('btn-selected')
    $.get("<%= Spina::Engine.routes.url_helpers.trix_select_admin_photos_path('') %>/slider-first")

  @photoSelectSecond: (e) ->
    $(this).addClass('btn-selected') 
    $.get("<%= Spina::Engine.routes.url_helpers.trix_select_admin_photos_path('') %>/slider-second")

  @photoAssignFirst: (e, url) ->
    current_preview = $('.btn-selected').closest('.button-group').siblings('.slider-preview')
    current_preview.find('.img.first').attr('src', url)
    current_preview.siblings('.slider-markup').find('.img.first').attr('src', url)
    current_preview.trigger('preview-slider')
    $('.btn-selected').removeClass('btn-selected')

  @photoAssignSecond: (e, url) ->
    current_preview = $('.btn-selected').closest('.button-group').siblings('.slider-preview')
    current_preview.find('.img.second').attr('src', url)
    current_preview.siblings('.slider-markup').find('.img.second').attr('src', url)
    current_preview.trigger('preview-slider')
    $('.btn-selected').removeClass('btn-selected')

  @previewSlider: ->
    $(this).find('.img-slider').twentytwenty()

  @addSlider: (e) -> 
    slider_name = $(this).closest('.button-group').siblings('input.slider-name')
    name = slider_name.val()
    if name == ''
      alert 'Please name the slider before inserting...'
    else 
      slider_markup = $(this).closest('.button-group').siblings('.slider-markup')
      slider_markup.find('.slider-show').text(name)
      markup = slider_markup.html()
      attachment = new Trix.Attachment({content: markup, contentType: 'slider'})
      trix.editor.insertAttachment(attachment)
      for elem in $(this).closest('.input-fields').find('.slider-preview, .slider-markup').find('.img')
        do ->
          $(elem).attr('src', '#')
      slider_name.val('')


document.addEventListener 'trix-file-accept', (e) ->
  e.preventDefault()

$(document).on 'click', '.js-trix-photo', Spina.TrixAttachment.photoSelect

$(document).on 'photo-insert', 'trix-editor', Spina.TrixAttachment.photoInsert

$(document).on 'click', '.first-slider-file', Spina.TrixAttachmentSlider.photoSelectFirst
$(document).on 'first-photo-selected', Spina.TrixAttachmentSlider.photoAssignFirst

$(document).on 'click', '.second-slider-file', Spina.TrixAttachmentSlider.photoSelectSecond
$(document).on 'second-photo-selected', Spina.TrixAttachmentSlider.photoAssignSecond

$(document).on 'preview-slider', '.slider-preview', Spina.TrixAttachmentSlider.previewSlider

$(document).on 'click', '.add-slider', Spina.TrixAttachmentSlider.addSlider
