// Configuration
@import configuration

// Normalizing
@import spina/normalize

// Fonts
@import fonts

#admin_bar
  background: #f5f5f5
  border-bottom: 1px solid #ddd
  font-family: "Proxima Nova"
  padding: 12px 12px 8px 0
  text-align: right

  // Styles
  @import buttons

  .button.button-hollow
    background: #fff
