//
// Icon Font: ics_spina
//

%icon-barchart-after:after, .icon-barchart:before { content: "\f100"; }
%icon-bars-after:after, .icon-bars:before { content: "\f101"; }
%icon-bold-after:after, .icon-bold:before { content: "\f102"; }
%icon-brush-after:after, .icon-brush:before { content: "\f103"; }
%icon-camera-after:after, .icon-camera:before { content: "\f104"; }
%icon-caret-down-after:after, .icon-caret-down:before { content: "\f105"; }
%icon-caret-left-after:after, .icon-caret-left:before { content: "\f106"; }
%icon-caret-right-after:after, .icon-caret-right:before { content: "\f107"; }
%icon-caret-up-after:after, .icon-caret-up:before { content: "\f108"; }
%icon-cart-after:after, .icon-cart:before { content: "\f109"; }
%icon-chart-outline-after:after, .icon-chart-outline:before { content: "\f10a"; }
%icon-check-after:after, .icon-check:before { content: "\f10b"; }
%icon-chevron-down-after:after, .icon-chevron-down:before { content: "\f10c"; }
%icon-chevron-left-after:after, .icon-chevron-left:before { content: "\f10d"; }
%icon-chevron-right-after:after, .icon-chevron-right:before { content: "\f10e"; }
%icon-chevron-up-after:after, .icon-chevron-up:before { content: "\f10f"; }
%icon-code-after:after, .icon-code:before { content: "\f110"; }
%icon-cog-after:after, .icon-cog:before { content: "\f111"; }
%icon-cog-outline-after:after, .icon-cog-outline:before { content: "\f112"; }
%icon-comment-after:after, .icon-comment:before { content: "\f113"; }
%icon-cross-after:after, .icon-cross:before { content: "\f114"; }
%icon-customer-outline-after:after, .icon-customer-outline:before { content: "\f115"; }
%icon-document-after:after, .icon-document:before { content: "\f116"; }
%icon-dots-after:after, .icon-dots:before { content: "\f117"; }
%icon-exclamation-after:after, .icon-exclamation:before { content: "\f118"; }
%icon-eye-after:after, .icon-eye:before { content: "\f119"; }
%icon-filter-after:after, .icon-filter:before { content: "\f11a"; }
%icon-home-after:after, .icon-home:before { content: "\f11b"; }
%icon-image-after:after, .icon-image:before { content: "\f11c"; }
%icon-inbox-outline-after:after, .icon-inbox-outline:before { content: "\f11d"; }
%icon-info-after:after, .icon-info:before { content: "\f11e"; }
%icon-italic-after:after, .icon-italic:before { content: "\f11f"; }
%icon-large-check-after:after, .icon-large-check:before { content: "\f120"; }
%icon-link-after:after, .icon-link:before { content: "\f121"; }
%icon-list-ul-after:after, .icon-list-ul:before { content: "\f122"; }
%icon-lock-after:after, .icon-lock:before { content: "\f138"; }
%icon-mail-after:after, .icon-mail:before { content: "\f123"; }
%icon-mail-outline-after:after, .icon-mail-outline:before { content: "\f124"; }
%icon-media-library-after:after, .icon-media-library:before { content: "\f125"; }
%icon-megaphone-after:after, .icon-megaphone:before { content: "\f126"; }
%icon-min-after:after, .icon-min:before { content: "\f127"; }
%icon-pages-after:after, .icon-pages:before { content: "\f128"; }
%icon-pencil-after:after, .icon-pencil:before { content: "\f129"; }
%icon-pencil-outline-after:after, .icon-pencil-outline:before { content: "\f12a"; }
%icon-picture-o-after:after, .icon-picture-o:before { content: "\f12b"; }
%icon-plus-after:after, .icon-plus:before { content: "\f12c"; }
%icon-power-off-after:after, .icon-power-off:before { content: "\f12d"; }
%icon-preview-after:after, .icon-preview:before { content: "\f12e"; }
%icon-product-outline-after:after, .icon-product-outline:before { content: "\f12f"; }
%icon-random-after:after, .icon-random:before { content: "\f130"; }
%icon-refresh-after:after, .icon-refresh:before { content: "\f131"; }
%icon-search-after:after, .icon-search:before { content: "\f132"; }
%icon-shop-after:after, .icon-shop:before { content: "\f133"; }
%icon-social-outline-after:after, .icon-social-outline:before { content: "\f134"; }
%icon-trash-after:after, .icon-trash:before { content: "\f135"; }
%icon-upload-outline-after:after, .icon-upload-outline:before { content: "\f136"; }
%icon-users-outline-after:after, .icon-users-outline:before { content: "\f137"; }
