#login_container
  background: tint($primary-color, 90%)
  display: block
  height: 100%
  position: fixed
  width: 100%

#login_wrapper
  margin: 50px auto
  max-width: 280px

  .failed-to-login
    animation-delay: .1s
    color: $danger-color
    margin-bottom: 20px
    text-align: center

  .login-fields input
    &:first-child
      animation-delay: .2s

    &:last-child
      animation-delay: .4s

  .login-extra-links
    animation-delay: .8s

    .button
      margin-right: 0

  img
    display: block
    margin: 0 auto 25px auto

  input, button
    box-shadow: none
    border: none
    box-sizing: border-box
    font-size: 18px
    line-height: normal
    margin-bottom: 16px
    padding: 12px 14px
    width: 100%

  button
    animation-delay: .6s
    padding: 12px 14px

    &:before
      font-size: 26px
      margin-right: 8px
      vertical-align: middle
