trix-toolbar
  margin-bottom: 6px

  .button-group
    margin-right: 10px

  .button.trix-active
    background: $primary-color
    color: #fff

  .trix-dialog__link-fields
    clear: both

  .trix-dialog__link-fields input
    margin-top: 6px

  .trix-dialog__link-fields .button-group input
    margin-top: 10px

  .input-fields
    padding-top: 15px

    .slider-preview
      padding: 5px
      margin: 10px 10px 10px 0px
      max-width: 500px
      max-height: 400px
      border: 1px rgb(100,100,100) solid
      border-radius: 10px
      background-color: rgb(240,240,240)
      font-size: 10px
      overflow-y: scroll

    .slider-markup
      display: none

      .slider-show
        display: none
    
    .button-group
      margin: 10px 10px 10px 0px

trix-editor
  font-size: 16px
  line-height: 18px
  font-weight: normal
  height: 500px
  overflow-y: auto

  .slider-show
    color: #3b3f74
    font-weight: 600

  .img-slider
    height: 200px

  h1, h2, h3, h4, h5, h6
    padding-left: 24px
    position: relative

    &:after
      color: #ccc
      content: "H1"
      font-size: 12px
      font-weight: bold
      left: 0px
      line-height: inherit
      position: absolute
      top: 0px

  h1, h2, h3, h4, h5, h6
    font-size: 24px
    font-weight: 600
    line-height: 38px

  h2
    font-size: 22px
    line-height: 34px

  h3
    font-size: 20px
    line-height: 30px

  h4
    font-size: 18px
    line-height: 26px

  h5
    font-size: 16px
    line-height: 22px

  h6
    font-size: 14px
    line-height: 18px

  h2:after
    content: "H2"

  h3:after
    content: "H3"

  h4:after
    content: "H4"

  h5:after
    content: "H5"

  h6:after
    content: "H6"

  a
    text-decoration: underline

  p
    margin: 0

  ul
    list-style: disc
    padding-left: 20px

  figure.attachment
    margin-bottom: 12px
    margin-top: 12px
    max-width: 400px
    max-height: 400px
    overflow: hidden

    .remove
      display: none

    figcaption
      color: #999
      font-size: 0.9em

    img
      border-radius: 3px
      display: block
      width: 100%
