.item.video
  .overlay
    = link_to spina.admin_video_path(video), method: :delete, class: 'icon-only delete-photo-link', data: {confirm: t('spina.videos.delete_confirmation')} do
      =t('spina.videos.delete')
  = radio_button_tag :video_id, video.id
  = check_box_tag 'video_ids[]', video.id
  = video_tag video.file.url, id: "video_#{video.id}", controls: true
