.modal.modal-large
  %section
    .gallery-select.gallery
      .item.item-small.item-uploader
        = render partial: 'spina/admin/videos/video_upload_form'

      = form_tag spina.insert_video_admin_videos_path(params[:page_part_id]), remote: true, class: 'gallery-prepend-image' do
        = hidden_field_tag :hidden_field_id, @hidden_field_id

        .infinite-scroll
          = render partial: 'spina/admin/videos/video_single_picker', collection: @videos

        .infinite-pagination= link_to_next_page @videos, 'Next', params: params.slice(:selected_video_id).permit(:selected_video_id), remote: true
