- if using_file_storage?
  = form_for [spina, :admin, @uploader.model], html: {multipart: true} do |f|
    = f.label :file, t('spina.videos.upload_video')
    = f.file_field :file, data: {customfileinput: true}
- else
  = direct_upload_form_for @uploader do |ff|
    .customfile
      = ff.file_field :video, class: 'customfile-input'
