.item.video{ class: ('selected' if video_single_picker.id == @selected_video_id) }
  = radio_button_tag :video_id, video_single_picker.id, video_single_picker.id == @selected_video_id
  = video_tag video_single_picker.file.url, id: "video_#{video_single_picker.id}"
