<% if @video.new_record? %>
  alert("<%= I18n.t 'spina.videos.cannot_be_created' %> <%= j @video.errors.full_messages.join(', ').html_safe %>");
<% else %>
  $item = $("<%=j render partial: 'spina/admin/videos/video', object: @video %>");
  $(".gallery-prepend-image .infinite-scroll").prepend($item);
  $(".gallery-prepend-image .infinite-scroll .item:first-child").click();
<% end %>
