.gallery-container
  .gallery
    .item
      = render partial: 'spina/admin/videos/video_upload_form'

    .gallery-prepend-image
      .infinite-scroll
        = render partial: 'spina/admin/videos/video', collection: @videos

      .infinite-pagination= link_to_next_page @videos, 'Next', remote: true
