var hidden_input = $("input[name='<%= j params[:page_part_id] %>[page_partable_id]'], input[name='<%= j params[:page_part_id] %>[structure_partable_id]'], input[data-hidden-field-id='<%= j params[:hidden_field_id] %>']");
hidden_input.parents('.media_picker').find('.video').remove();

<% if @video.present? %>
  hidden_input.parents('.media_picker').append("<div class='video'><video><source src='<%= @video.file %>'></video></div>");
  hidden_input.val("<%= @video.id %>");
<% else %>
  hidden_input.parents('.media_picker').append("<input type='hidden' type='checkbox' name='<%= j params[:page_part_id] %>[_destroy]' value='1' />")
<% end %>
$.hideModal();
