.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = link_to spina.video_select_admin_videos_path(f.object_name, selected_video_id: f.object.page_partable.try(:id)), remote: true, class: 'media_picker clearfix' do
    .placeholder
      %span.button.button-small.button-round
        %i.icon.icon-dots
        Choose Video

    - if f.object.page_partable && f.object.page_partable.file.present?
      .video
        = video_tag f.object.page_partable.file, controls: true

    = f.hidden_field :page_partable_id
