.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :page_partable, f.object.page_partable do |ff|
    = ff.text_area :content, placeholder: "#{t 'spina.pages.page_part'} #{f.object.name.downcase}"
