- content_for :application do
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'photos')}
          = link_to t('spina.media_library.photos'), spina.admin_photos_path
        %li{class: ('active' if controller_name == 'videos')}
          = link_to t('spina.media_library.videos'), spina.admin_videos_path
        %li{class: ('active' if controller_name == 'attachments')}
          = link_to t('spina.media_library.attachments'), spina.admin_attachments_path

  = yield

= render template: "layouts/spina/admin/admin"
