- object_id = f.object.persisted? ? f.object.object_id : "new_association_#{f.object.object_id}"
= f.hidden_field field, id: "#{object_id}_input"

%trix-toolbar.clearfix{ id: "#{object_id}_toolbar", data: { trix_editor_id: "#{object_id}_editor" }}
  .button-groups
    .button-group.pull-left
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bold', data: { trix_attribute: 'bold', trix_key: 'b' }}
        .icon.icon-bold
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Italic', data: { trix_attribute: 'italic', trix_key: 'i' }}
        .icon.icon-italic
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bullets', data: { trix_attribute: 'bullet' }}
        .icon.icon-list-ul
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Link', data: { trix_action: 'link', trix_attribute: 'href', trix_key: 'k' }}
        .icon.icon-link
      %button.button.button-small.js-trix-photo{ type: 'button', tabindex: -1, title: 'Photo', data: { trix_action: 'photo', trix_attribute: 'photo' }}
        .icon.icon-picture-o
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Embed', data: {trix_action: 'embed', trix_attribute: 'iframe' }}
        .icon.icon-code
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Blockquote', data: { trix_attribute: 'quote' }}
        quote
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Caption', data: { trix_attribute: 'caption' }}
        caption
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'slider', data: { trix_action: 'slider' }}
        slider

    .button-group.pull-left
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h1', data: { trix_attribute: 'heading1' }} H1
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h2', data: { trix_attribute: 'heading2' }} H2
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h3', data: { trix_attribute: 'heading3' }} H3
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h4', data: { trix_attribute: 'heading4' }} H4
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h5', data: { trix_attribute: 'heading5' }} H5
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h6', data: { trix_attribute: 'heading6' }} H6

  .trix-dialogs{data: {trix_dialogs: true}}
    .trix-dialog.caption_dialog{ data: { trix_dialog_attribute: 'caption', trix_dialog: 'caption' }}
      .trix-dialog__link-fields
        %input.trix-input.trix-input--dialog{type: 'text', name: 'caption', placeholder: 'Enter a Caption...', data: {trix_input: true}}

    .trix-dialog.trix-dialog--link{ data: { trix_dialog_attribute: 'href', trix_dialog: 'href'}}
      .trix-dialog__link-fields
        %input.trix-input.trix-input--dialog{type: 'text', name: 'href', placeholder: 'Enter a URL…', required: true, data: {trix_input: true}}
        .button-group
          %input.button{type: 'button', tabindex: -1, value: 'Link', data: { trix_method: 'setAttribute'}}
          %input.button{type: 'button', tabindex: -1, value: 'Unlink', data: { trix_method: 'removeAttribute'}}

    .trix-dialog.trix-dialog--embed{ data: { trix_dialog_attribute: 'iframe', trix_dialog: 'iframe'}}
      .trix-dialog__link-fields
        %input.trix-input.trix-input--dialog{type: 'text', name: 'iframe', placeholder: 'enter embed code', required: true, data: {trix_input: true}}
        .button-group
          %input.button{type: 'button', tabindex: -1, value: 'Embed', onclick: 'createAttachment();'}

    .trix-dialog.trix-dialog--slider{ data: { trix_dialog_attribute: 'slider', trix_dialog: 'slider'}}
      .trix-dialog__link-fields.input-fields
        .slider-preview
          .img-slider.twentytwenty-container
            %img.img.first{src: "#", alt: 'Top Photo', style: 'width: 100%;'}
            %img.img.second{src: "#", alt: 'Bottom Photo', style: 'height: 100%; width: 100%;'}
        .slider-markup
          %span.slider-show 
          .img-slider
            %img.img.first{src: "#", style: 'width: 100%;'}
            %img.img.second{src: "#", style: 'height: 100%; width: 100%;'}
        %input{type: 'text', class: 'slider-name', placeholder: 'Name this slider'}
        .button-group
          .first-slider-file.button Top Image
          .second-slider-file.button Bottom Image
          .add-slider.button Add to content

%trix-editor.text-input{input: "#{object_id}_input", toolbar: "#{object_id}_toolbar", id: "#{object_id}_editor", onchange: '$(".img-slider").twentytwenty();'}

:javascript
  var trix = document.querySelector('trix-editor');
  var createAttachment = function() {
    var $input = $('input[name=iframe]');
    var attachment = new Trix.Attachment({content: $input.val()});
    trix.editor.insertAttachment(attachment);
    $input.val('');
  }
  